* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* body */ 
.body{
  background: #f9f9f9;
font-family: 'Courier New', monospace;
}


/* everything in container */

.container{
  height: 100%;
  width: 960px;
  height: 70%;
  padding: 30px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%; 
}


/* content */ 
.column {
  float: left;
  width: 50%;
  padding: 3%;
  height: 300px;
  flex: 1;
  
}

.column h3 {
  margin-bottom: 10px;
  /* border: 2px solid black; */
  background-color: #f9f9f9;
  font-family: 'Courier New', monospace;
  letter-spacing: 4px;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 5px;
}


div.imgCard {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 3%;
  border-radius: 7%;
}

div.laptopImgContainer {
  text-align: center;
  padding: 10px 20px;
}


#laptopImg{
  width: 30%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  display: flex;
}



#navigationbar{ 
  font-family: 'Courier New', monospace;
  margin: 10px 0;
text-transform: uppercase;
font: 700 32px 'Comfortaa', sans-serif;
letter-spacing: 4px;
  margin-bottom: 30px;
}


select {
  margin-top: 10%;
  margin-bottom: 30px;
  width: 50%;
  padding: 5%;
  font-size: 12px;
  border: 2px solid #000;
  height: 25%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: auto;
  background: #F9F9F9;
  font-weight: 600;
}


#specs {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Helvetica Neue', sans-serif;
}


#laptopPrice, #laptopDescription{
  font-size: 12px;
  font-weight: 600;
  font-family: monospace;
  margin-bottom: 5px;
}

#balance{
  font-size: 42px;
  font-weight: 600;
  font-family: monospace;
  margin-top: 10%;
  margin-bottom: 10%;
}


#pay, #debt{
  font-size: 24px;
  font-weight: 600;
  font-family: monospace;
  margin-top: 10%;
  margin-bottom: 1%;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: fit-content;
  }

  .row {
      display: block;
  }
}
